<wicket:panel>
  <table cellpadding="0" cellspacing="=0">
    <tr>
      <td>
        <table cellpadding="0" cellspacing="0">
          <tr>
            <td valign="bottom" wicket:id="tabCell">
              <div wicket:id="tab">[Tab]</div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <div class="tabPanelContents" wicket:id="tabContents">
          <span wicket:id="tabPanel">[Tab Panel]</span>
        </div>
      </td>
    </tr>
  </table>
</wicket:panel>